<div class="row">
  <div class="col-md-8">
    <ul>
      <li>Full Name: <br><%= message.name %></li>
      <li>Phone: <br><%= message.phone %></li>
      <li>Email: <br><%= message.email %></li>
      <li>Message: <br><%= message.message %></li>
    </ul>
  </div>
</div>