    <!-- Page Content -->
    <div class="container" style="max-width: 900;margin: 0 auto;">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Appointment
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Appointment</li>
                </ol>
            </div>
        </div>
        <!-- place calendar here -->
        <div class="row">
            <div class="col-md-8">
                <h3>Current Calendar</h3>
                <div id='calendar'></div>
            </div>
        </div>
        <!-- /.row -->
        <!-- Contact Form -->
        <!-- should implement check if customer exist in the database through email or phone -->
        <div class="row" id="form">
            <div class="col-md-8">
                <h3>Book an 30 Minutes Consultation</h3>
                <form method="post" action="/appointment" id="appointmentForm">
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>First Name:</label>
                            <input type="text" class="form-control" name="customer[first_name]" placeholder="John">
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Last Name:</label>
                            <input type="text" class="form-control" name="customer[last_name]" placeholder="Smith">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Phone Number:</label>
                            <input type="tel" class="form-control" name="customer[phone]" placeholder="1234567890">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Email Address:</label>
                            <input type="email" class="form-control" name="customer[email]" placeholder="john@example.com">
                        </div>
                    </div>
                    <!-- location dropdown -->
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Location:</label>
                            <br>
                            <label class="radio-inline">
                              <input type="radio" name="appointment[in_fl]" id="inlineRadio1" value="true"> Fort Lauderdale, Florida
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="appointment[in_fl]" id="inlineRadio2" value="false"> Portsmouth, Rhode Island
                            </label>
                        </div>
                    </div>
                    <!-- calendar dropdown for days -->
                    <div class="control-group form-group">
                        <div class="controls">
                            <label for="date">Preferred Date:</label>
                            <br>
                            <input type="text" name="appointment[date]" id="datepicker" />
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Preferred Time Slot:</label>
                            <select class="form-control">
                              <option name="appointment[subject]" value="new">12:00 PM</option>
                              <option name="appointment[subject]" value="cover">12:30 PM</option>
                              <option name="appointment[subject]" value="price">1:00 PM</option>
                              <option name="appointment[subject]" value="general">1:30 PM</option>
                            </select>
                        </div>
                    </div>
                    <!-- calendar dropdown for time -->
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Subject:</label>
                            <select class="form-control">
                              <option name="appointment[subject]" value="new">New Tattoo</option>
                              <option name="appointment[subject]" value="cover">Cover Up</option>
                              <option name="appointment[subject]" value="price">Price Estimate</option>
                              <option name="appointment[subject]" value="general">General Enquiry</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Message:</label>
                            <textarea rows="10" cols="100" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
                        </div>
                    </div>
                    <div id="success"></div>
                    <!-- For success/fail messages -->
                    <button type="submit" class="btn btn-primary">Send Message</button>
                </form>
            </div>

        </div>
        <!-- /.row -->

        <hr>
    </div>
      <script>
      $(function() {
        $( "#datepicker" ).datepicker();
      });
      </script>
    <script src='js/moment.min.js'></script>
    <script src='js/fullcalendar.js'></script>
    <script>

  $(document).ready(function() {

    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,basicWeek,basicDay'
      },
      defaultDate: '2014-11-12',
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: [
        {
          title: 'All Day Event',
          start: '2014-11-01'
        },
        {
          title: 'Long Event',
          start: '2014-11-07',
          end: '2014-11-10'
        },
        {
          id: 999,
          title: 'Repeating Event',
          start: '2014-11-09T16:00:00'
        },
        {
          id: 999,
          title: 'Repeating Event',
          start: '2014-11-16T16:00:00'
        },
        {
          title: 'Conference',
          start: '2014-11-11',
          end: '2014-11-13'
        },
        {
          title: 'Meeting',
          start: '2014-11-12T10:30:00',
          end: '2014-11-12T12:30:00'
        },
        {
          title: 'Lunch',
          start: '2014-11-12T12:00:00'
        },
        {
          title: 'Meeting',
          start: '2014-11-12T14:30:00'
        },
        {
          title: 'Happy Hour',
          start: '2014-11-12T17:30:00'
        },
        {
          title: 'Dinner',
          start: '2014-11-12T20:00:00'
        },
        {
          title: 'Birthday Party',
          start: '2014-11-13T07:00:00'
        },
        {
          title: 'Click for Google',
          url: 'http://google.com/',
          start: '2014-11-28'
        }
      ]
    });

  });

</script>
<script>
  $(document).ready(function() {
      $('#appointmentForm').submit(function(e){
          e.preventDefault();

          var url = $(this).attr('action');
          var data = $(this).serialize();

          $.post(url, data, function(response){
              $('#form').remove();
              $('#contact').append("<h3>Thank you for contacting us, someone will reach out to you shortly with your appointment confirmation.");
          })
      });

  });
</script>