
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Blog Home
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Blog Home</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <!-- First Blog Post -->
                <h2>
                    <a href="#">Welcome to our blog</a>
                </h2>
                <hr>
                <p>This is the first in a series of articles that we will publish related to the art of tattoo and tattooing. Each month we will discuss different aspects of the world of tattoo. There is a wide range of information regarding tattooing available in the mainstream media. Some of it is correct; some of it is total foolishness. As the owners of two shops we see a wide range of customers with an equally wide range of requests for tattoos. We see 18-year-old kids looking for their first tattoo as well as older collectors with a wide range of ink seeking a very definite image idea. Some shops are dedicated to producing quality artwork while some shops, unfortunately, are dedicated to making money. Dragon Lily Tattoo’s primary interest is creating beautiful and interesting artwork for our customers. We seek to involve all of our customers in the process of tattoo; we are dedicated to ensuring that each tattoo we do is the best that we can do and it’s the best for the customer.
                <br>
                <br>
                There is a lot of misinformation and misconceptions regarding tattoo and tattooing and we hope to use this blog to clear up and clarify many of these misconceptions. Stay posted and take a look every month as we update the blog entries. These entry’s will include such things as; Choosing a shop, Choosing an artist, How to arrive at the correct and appropriate design, The idea of “Go big or Go home”, Color versus Black and Gray, Custom designed images versus “Flash” or predesigned tattoos, and Lettering pros and cons.
                <br>
                <br>
                If you have any questions, comments or specific topics related to tattooing that you would like to have discussed send as a message via the “contact us” page.
                <br>
                <br>
                Until next time,
                <br>
                Dragon D</p>
                <br>
                <!-- Second Blog Post -->
                <h2>
                    <a href="#">Choosing a Tattoo and/or Tattoo Artist</a>
                </h2>
                <hr>
                <p>This discussion will be about choosing a shop and an artist and the criteria related to this choice. For some people getting a tattoo is a spur of the moment event while for others it is it is a well-thought-out plan for a beautiful piece of body art. In either case choosing the shop and an artist is very important.
                <br>
                <br>
                There are many things to look for when looking at a shop in which to get your tattoo. I will cover a few of the most important items. First and foremost, you want the shop that you choose to be clean, licensed and comfortable. When we talk about cleanliness we mean that the floors, walls and workspaces are clean and clutter free. The cleanliness of the shop will reflect upon the cleanliness of the tattoo artist.
                <br>
                <br>
                When we talk about licensing it really depends upon in which state you are going to be getting your tattoo. Most states have some sort of regulations and/or guidelines related to tattoo shops and tattooing. The shop you ultimately choose should follow the regulations and/or guidelines of the state in which they operate. Ask to see their licenses if applicable.
                <br>
                <br>
                Regardless of which state the shop operates out of, it should possess an autoclave and an ultrasonic cleaner so that they may clean and sterilize all reusable equipment. They should use single use sterile needles. They should use equipment covers i.e. clip cord covers, machine covers, and spray bottle covers. They should use disposable surgical towels on which to place their equipment. Ask if this is the case for the shop you are looking at. If the answer to any of those questions is no then we strongly suggest you look for another shop.
                <br>
                <br>
                When choosing an artist you should first look at their portfolio and confirm that it is, in fact, their portfolio and not a collection of images they have put together claiming to be their portfolio. You might think that this does not actually happen but we have seen it enough times to make the reader aware of the possibility. While reviewing their portfolio you should decide if the type of work or style of tattoos they do is a match for the type or style of tattoo you are seeking. You should meet with the artist and decide if you are comfortable with this person. Remember, they are doing the artwork that is going to be on you forever. It is our opinion that the artist should be personable, open-minded and willing to guide and educate the potential tattoo customer so that they obtain the absolute best tattoo possible based on desired tattoo size, customer time available and customer budget.
                <br>
                <br>
                There are shops out there dedicated to creating and applying beautiful pieces of art in a clean, safe and comfortable environment. We encourage all those interested in obtaining a tattoo to seek out these types of shops. Too often we have customers come in to our shop with stories of experiences involving some other shop where they were rushed or ignored or treated rudely; where they received a fairly low quality or very bad tattoo that they were now seeking to cover up. Unfortunately, there are a few shops out there whose main goal is to get the customer in the chair, ink them, get their money, and then get them out of the shop.
                <br>
                <br>
                We encourage all those interested in finding a good tattoo shop or artist to follow the simple guidelines we have outlined, because if you do we feel confident that you will end up with a beautiful tattoo that is special and unique to you, and will be something you are proud to show off.
                <br>
                <br>
                Until next time,
                <br>
                Dragon D</p>

                <hr>

                <!-- Pager -->
                <ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; Older</a>
                    </li>
                    <li class="next">
                        <a href="#">Newer &rarr;</a>
                    </li>
                </ul>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">
                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Footer Notations</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div>

            </div>

        </div>
        <!-- /.row -->

        <hr>
    </div>