
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Frequently Asked Questions
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">FAQ</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Does Dragon Lily Tattoo offer specials or discounts?</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                Yes, we frequently run specials or promotions that allow folks to get that special tattoo they have been thinking about. Our current special is "Buy One, Get One 50% off". There are some limitations and guidelines related to this offer, but you can get a great tattoo at a very affordable price by taking advantage of this special
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Do you take checks or credit cards?</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                We accept VISA and MasterCard. We do not accept checks.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">How much do you charge?</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                Our prices are very flexible. It depends on the artist whose doing the work, but generally we charge $100/hour. For larger, more involved pieces there could be a design fee of $25/hour but this also depends on the artist. Pricing is decided before we begin. We do require a non-refundable deposit to do any design work or to book an appointment. All deposits are non-refundable.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Do you do tattoo parties?</a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                Yes we do tattoo parties, however we do not travel to clients homes. We only hold tattoo parties here at our shop. We have a large and relaxing reception area with a wide range of music as well as wireless internet. There are quite a few very good take out restaurants right in our area.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">How many people can I bring to a tattoo party?</a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body">
                                We generally prefer parties of 5-7 people, including the host. This allows us ample time to do high quality tattoos.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Can I really get a totally free tattoo?</a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse">
                            <div class="panel-body">
                                Yes, you can absolutely get a totally free tattoo. The two primary methods to get free ink are:
                                <br>
                                #1. Have a tattoo party. As the person inviting the other people you are the “Host” and your artwork and tattoo are totally free. How it works is really quite simple; you invite 4 of your friends to get tattoos. Each of their tattoos will cost about $75-$200 depending on the size and detail of the image. We try to meet with everyone before the party to get an idea what they want and get the artwork done before the party. The tattoo parties are held here in our shop, usually on Sundays. We have our own music or you can bring your CD’s or ipod playlists that plug right into our sound system. We also have wireless internet and access to quite a few good take-out restaurants right in our area. Everyone has had a great time at each of our previous tattoo parties and we look forward to having a great time with you and your friends.
                                <br>
                                #2. Tell people about us. Dragon Lily Tattoo loves referrals so much that we reward people for telling their friends about us. For every friend that gets a tattoo we will reward you with 20% of what that friend paid for their tattoo; so if they got a $200 tattoo we credit you with $40 towards your tattoo. Many people are using our referral system to build credit towards a sleeve or a large backpiece while others are using it to get a smaller one sitting tattoo…all for no money out of their pocket.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Do you cover up old tattoos?</a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse">
                            <div class="panel-body">
                                Yes, we do cover ups all the time, although some tattoos are just too big, dark or involved for us to do anything with. Generally, we can cover-up something you got that you do not like with something very nice that you can be proud of.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Can you fix tattoos?</a>
                            </h4>
                        </div>
                        <div id="collapseEight" class="panel-collapse collapse">
                            <div class="panel-body">
                                Yes, we fix tattoos. See the question about cover-ups.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Can you finish incomplete tattoos?</a>
                            </h4>
                        </div>
                        <div id="collapseNine" class="panel-collapse collapse">
                            <div class="panel-body">
                                Yes, we finish incomplete tattoos. Again, see question about cover-ups.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Do you do piercings?</a>
                            </h4>
                        </div>
                        <div id="collapseTen" class="panel-collapse collapse">
                            <div class="panel-body">
                                No, not at the moment.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Can I just walk in and get a tattoo or do I need an appointment?</a>
                            </h4>
                        </div>
                        <div id="collapseEleven" class="panel-collapse collapse">
                            <div class="panel-body">
                                We welcome walk-ins but prefer appointments. Come on by and say hi!
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.panel-group -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <hr>
    </div>