
    <!-- Header Carousel -->
    <!-- Need to fix Carousel size -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('/imgs/slide1.jpg');"></div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('/imgs/slide2.jpg');"></div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('/imgs/slide3.jpg');"></div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('/imgs/slide4.jpg');"></div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('/imgs/slide5.jpg');"></div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Welcome to Dragon Lily Tattoo
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> Two Great Shops Offering the BEST Custom Tattoos</h4>
                    </div>
                    <div class="panel-body">
                        <p>Dragon Lily Tattoo is home to a select group of Award Winning Tattoo Artists. We have two amazing shops, and all of Dragon Lily Tattoo’s Artists strive to make each tattoo their BEST tattoo. Dragon Lily Tattoo offers a wide range of styles including; Color, black and gray, photo-real, illustrative, portraits, free-hand and high quality cover-ups. With over 30 years of combined illustration, design and tattoo experience our artists provide a level of skill and professionalism that assures each and every client that they are getting the very BEST tattoo available.</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> Award Winning Tattoos</h4>
                    </div>
                    <div class="panel-body">
                        <p>Our Fort Lauderdale shop is fast becoming one of South Florida’s premier custom tattoo studios. Our Rhode Island shop has been voted “BEST Tattoo Shop” in Rhode Island for 3 consecutive years.</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> Service Centric</h4>
                    </div>
                    <div class="panel-body">
                        <p>At Dragon Lily Tattoo we provide a clean comfortable environment with well lighted private tattoo rooms. All of our artists use only the highest quality inks, equipment and most importantly stainless steel, single use sterile needles. Our customers frequently comment on how comfortable and relaxing our shop is, and we agree.
                        <br>
                        We take pride in guiding our clients through the whole tattoo process, including choosing or creating the correct design and body placement as well as providing clear and concise after care instructions to ensure that the tattoo received looks beautiful for years to come.</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Fort Lauderdale Location</h2>
            </div>
            <div class="col-md-6">
                <p>Address:</p>
                <ul>
                    <li>500 W Oakland Park</li>
                    <li>Wilton Manors, FL 33311</li>
                </ul>
                <p>Phone: 954-533-0374</p>
                <p>Shop Hours: Tuesday-Sunday 12pm-8pm</p>
                <p>Dragon Lily Tattoo is fast becoming South Florida’s premier custom tattoo studio. We offer high quality custom tattoos at an affordable price. Our artists are multi-award winning tattoo artists that take great pride in their work and strive to make each and every tattoo their best tattoo. Dragon Lily Tattoo has been named “BEST Tattoo Shop” in Rhode Island 3 years running, and will, without a doubt, achieve similar status here in greater Fort Lauderdale.</p>
            </div>
            <div class="col-md-6">
                <iframe width="555" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Dragon+Lily+Tattoo,500+W+Oakland+Park+Blvd+Wilton+Manors,+Florida&amp;aq=&amp;sll=27.698638,-83.804601&amp;sspn=11.0762,21.203613&amp;ie=UTF8&amp;hq=&amp;hnear=500+W+Oakland+Park+Blvd,+Wilton+Manors,+Broward,+Florida+33311&amp;t=m&amp;ll=26.166686,-80.15007&amp;spn=0.026962,0.032616&amp;z=14&amp;output=embed"></iframe>
            </div>
        </div>

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Rhode Island Location</h2>
            </div>
            <div class="col-md-6">
                <p>Address:</p>
                <ul>
                    <li>3380 East Main Road</li>
                    <li>Portsmouth, RI 02871</li>
                </ul>
                <p>Phone: 401-261-6725</p>
                <p>Shop Hours: Tuesday-Sunday 12pm-8pm</p>
                <p>Although we are located in Portsmouth, we often hear our clients refer to us as “The Absolute BEST tattoo shop in Rhode Island” and we agree. Dragon Lily Tattoo is home to award winning tattoo artists that strive to make each tattoo their best tattoo. Dragon Lily Tattoo is also one of the fastest growing custom tattoo shops in Rhode Island. Our fast growth is based on our commitment to excellence, both in artwork and customer service.</p>
            </div>
            <div class="col-md-6">
                <iframe width="555" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Dragon+Lily+Tattoo,3380+East+Main+Road+Portsmouth,+Rhode+Island&amp;aq=&amp;sll=27.698638,-83.804601&amp;sspn=11.0762,21.203613&amp;ie=UTF8&amp;hq=&amp;hnear=3380+E+Main+Rd,+Portsmouth,+Newport,+Rhode+Island+02871&amp;t=m&amp;ll=41.622565,-71.246166&amp;spn=0.01604,0.025663&amp;z=14&amp;iwloc=A&amp;output=embed">
                </iframe>
            </div>
        </div>

        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Featured Works</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->
        <!-- /.row -->

        <hr>

    </div>