
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Locations
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Locations</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Image Header -->
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="http://placehold.it/1200x300" alt="">
            </div>
        </div>
        <!-- /.row -->

        <!-- Service Tabs -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Two Locations, Same Award Wining Services</h2>
            </div>
            <div class="col-lg-12">

                <ul id="myTab" class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#service-one" data-toggle="tab"><i class="fa fa-tree"></i> Fort Lauderdale</a>
                    </li>
                    <li class=""><a href="#service-two" data-toggle="tab"><i class="fa fa-car"></i> Rhode Island</a>
                    </li>
                </ul>

                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="service-one">
                        <h4>Dragon Lily Tattoo - Fort Lauderdale</h4>
                        <p>Dragon Lily Tattoo is fast becoming South Florida’s premier custom tattoo studio. We offer high quality custom tattoos at an affordable price. Our artists are multi-award winning tattoo artists that take great pride in their work and strive to make each and every tattoo their best tattoo. Dragon Lily Tattoo has been named “BEST Tattoo Shop” in Rhode Island 3 years running, and will, without a doubt, achieve similar status here in greater Fort Lauderdale.</p>
                        <p>Dragon Lily Tattoo prides itself on providing the most comfortable environment for our customers. Our goal is to guide and educate clients through and about the process of getting the most dynamic, original and uniquely personal tattoo available. The education process includes guiding clients in what to look for in a tattoo shop and/or tattoo artist, how the differences of tattoo style and technique may be best suited for you, the client, and finally how to care for your tattoo once you leave our shop. We value the relationships we develop with our clients and many have become loyal friends and supporters.</p>
                        <p>Dragon Lily Tattoo has been licensed and certified by the Florida Department of Health. Our shop uses only the highest quality equipment and supplies including sterile, single use, stainless steel needles.</p>
                        <p>We invite everyone with an interest in tattoo art to come by the shop and say hello.</p>
                    </div>
                    <div class="tab-pane fade" id="service-two">
                        <h4>Dragon Lily Tattoo - Rhode Island</h4>
                        <p>Although we are located in Portsmouth, we often hear our clients refer to us as “The Absolute BEST tattoo shop in Rhode Island” and we agree. Dragon Lily Tattoo is home to award winning tattoo artists that strive to make each tattoo their best tattoo. Dragon Lily Tattoo is also one of the fastest growing custom tattoo shops in Rhode Island. Our fast growth is based on our commitment to excellence, both in artwork and customer service.</p>
                        <p>Dragon Lily Tattoo is proud to be the only provider of a "Free Tattoo Program". Many clients are surprised to discover that we really will apply a tattoo for free; in fact many of our clients received their tattoo for free. Find out how; click here "FREE TATTOO".</p>
                        <p>In addition to our “Free Tattoo” referral program Dragon Lily Tattoo frequently offers other special discount programs, click here to see what is available right now.</p>
                        <p>Dragon Lily Tattoo is committed to providing high quality custom tattoos at very affordable prices; usually much less than what you might expect to pay at other shops. Even though we offer affordability, we strive for excellence at all times, whether you are looking to get a complete sleeve or just a small tattoo of your favorite person’s name.</p>
                        <p>We never rush a client into a decision. We prefer to sit with the client and discuss what it is exactly that they are looking for. We take pride in our work and our primary goal is customer satisfaction. We want you to be proud of your new tattoo.</p>
                        <p>We have a large comfortable reception area as well as two private, clean and well lighted tattoo rooms. We always use clean, sterile techniques and equipment. We use only the highest quality inks, as well as surgical grade, sterile, single use, stainless steel needles.</p>
                        <p>Our shop has been reviewed and licensed by the Rhode Island Department of Health. The Department of Health representative commented that our shop was “the cleanest, most comfortable shop she’d ever been in”.</p>
                        <p>Dragon Lily Tattoo is also a certified participant in the Sterilizer Monitoring Program, which also includes healthcare organizations such as: Centers for Disease Control and Prevention (CDC), American Dental Association (ADA), and Association for the Advancement of Medical Instrumentation (AAMI).</p>
                        <p>We are very proud of both our shop and our commitment to providing a clean safe environment for our clients.</p>
                    </div>
                </div>

            </div>
        </div>

        <!-- Service List -->
        <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Find Us</h2>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-tree fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Fort Lauderdale</h4>
                        <p>Address:<br>500 W Oakland Park<br>Wilton Manors, FL 33311</p>
                        <p>Phone: 954-533-0374</p>
                        <p>Shop Hours: Tuesday-Sunday 12pm-8pm</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Rhode Island</h4>
                        <p>Address:<br>3380 East Main Road<br>Portsmouth, RI 02871</p>
                        <p>Phone: 401-261-6725</p>
                        <p>Shop Hours: Tuesday-Sunday 12pm-8pm</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>
    </div>